.sectionHeader {
  color: white;
  text-align: center;
}

.sectionText {
  color: white;
  text-align: center;
}

#banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 50px 0 50px;
  padding-top: 60px;
  padding-bottom: 60px;
}

#leftSide {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 500px;
  width: 50vw;
  margin-bottom: 30px;
}

#rightSide {
  margin: 15px;
}

